/* =========================
   FULL SCREEN SIDEBAR
========================= */

.drawer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.drawer-overlay.open {
  opacity: 1;
  visibility: visible;
}

.drawer {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;

  background: linear-gradient(
    180deg,
    #fffaf5 0%,
    #fff1e6 45%,
    #ffe4c7 100%
  );

  z-index: 9999;

  transform: translateX(100%);
  transition: transform 0.3s ease;

  display: flex;
  flex-direction: column;
}

.drawer.open {
  transform: translateX(0);
}

/* =========================
   HEADER
========================= */

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 24px;
  border-bottom: 1px solid rgba(124, 45, 18, 0.12);
}

.drawer-header span {
  color: #9a3412;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
}

.drawer-close {
  width: 46px;
  height: 46px;

  border: none;
  border-radius: 14px;

  background: rgba(154, 52, 18, 0.08);
  color: #7c2d12;

  cursor: pointer;
  font-size: 20px;
}

/* =========================
   BODY
========================= */

.drawer-body {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.drawer-body::-webkit-scrollbar {
  width: 5px;
}

.drawer-body::-webkit-scrollbar-thumb {
  background: rgba(124, 45, 18, 0.2);
  border-radius: 20px;
}

/* =========================
   TITLES
========================= */

.d-title {
  color: #b45309;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-align: center;
}

/* =========================
   DIVIDER
========================= */

.d-divider {
  height: 1px;
  background: rgba(124, 45, 18, 0.1);
  margin: 14px 0;
}

/* =========================
   LINK GROUPS
========================= */

.d-links,
.d-service-links {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* =========================
   BUTTONS
========================= */

.d-links button,
.d-service-links button {
  width: 100%;

  border: none;

  background: rgba(255, 255, 255, 0.6);

  color: #431407;

  text-align:center ;

  padding: 16px 18px;

  border-radius: 16px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;

  transition: all 0.25s ease;
}

.d-links button:hover,
.d-service-links button:hover {
  background: rgba(251, 191, 36, 0.15);
  transform: translateX(4px);
}

.d-service-links button {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(180, 83, 9, 0.08);
}

/* =========================
   FOOTER
========================= */

.drawer-footer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(124, 45, 18, 0.1);
  text-align: center;
}

.footer-logo {
  color: #7c2d12;
  font-size: 20px;
  font-weight: 700;
}

.footer-text {
  margin-top: 6px;
  color: #92400e;
  font-size: 13px;
}